<p>
    <form target="_blank" action="/login" method="POST">
        Username:
        <input name="username" value=""/>
        <div style="margin-top: 5px;"></div>
        Password:
        <input name="password" type="password" value=""/>
        <div style="margin-top: 5px;"></div>
        <input type="submit" value="Submit"/>
        <input type="submit" formtarget="_blank" value="Submit Blank"/>
        <input type="submit" formtarget="_self" value="Submit Self"/>
        <input type="submit" formtarget="_top" value="Submit Top"/>
    </form>
</p>